.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}

.text-capitalize {
  text-transform: capitalize;
}
.gutterBottom {
  margin-bottom: 2rem !important;
}

.gutterTop {
  margin-top: 2rem !important;
}

.maze {
  max-width: 100%;
}

.center-message {
  background: white !important;
  text-align: center !important;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
